GUI/Web References/localhost/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bloqueio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cpf" nillable="true" type="xs:string" />
      <xs:element name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perfil" nillable="true" type="tns:Perfil" />
      <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Perfil">
    <xs:sequence>
      <xs:element name="DescPerfil" nillable="true" type="xs:string" />
      <xs:element name="IdPerfil" type="xs:int" />
      <xs:element name="Usuarios" nillable="true" type="tns:ArrayOfUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perfil" nillable="true" type="tns:Perfil" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="ArrayOfPerfil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Perfil" nillable="true" type="tns:Perfil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerfil" nillable="true" type="tns:ArrayOfPerfil" />
  <xs:complexType name="Produto">
    <xs:sequence>
      <xs:element name="DataCadastro" nillable="true" type="xs:string" />
      <xs:element name="DescProduto" nillable="true" type="xs:string" />
      <xs:element name="IdProduto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produto" nillable="true" type="tns:Produto" />
  <xs:complexType name="ArrayOfProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Produto" nillable="true" type="tns:Produto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduto" nillable="true" type="tns:ArrayOfProduto" />
  <xs:complexType name="ArrayOfTipoFornecimento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoFornecimento" nillable="true" type="tns:TipoFornecimento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoFornecimento" nillable="true" type="tns:ArrayOfTipoFornecimento" />
  <xs:complexType name="TipoFornecimento">
    <xs:sequence>
      <xs:element name="DescTipoFornecimento" nillable="true" type="xs:string" />
      <xs:element name="Fornecedor" nillable="true" type="tns:Fornecedor" />
      <xs:element name="IdTipoFornecimento" type="xs:int" />
      <xs:element name="Produto" nillable="true" type="tns:Produto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoFornecimento" nillable="true" type="tns:TipoFornecimento" />
  <xs:complexType name="Fornecedor">
    <xs:sequence>
      <xs:element name="Bairro" nillable="true" type="xs:string" />
      <xs:element name="Bloqueio" nillable="true" type="xs:string" />
      <xs:element name="Cep" nillable="true" type="xs:string" />
      <xs:element name="Cidade" nillable="true" type="xs:string" />
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="Endereco" nillable="true" type="xs:string" />
      <xs:element name="IdFornecedor" type="xs:int" />
      <xs:element name="NomeFornecedor" nillable="true" type="xs:string" />
      <xs:element name="Telefone" nillable="true" type="xs:string" />
      <xs:element name="TiposFornecimentos" nillable="true" type="tns:ArrayOfTipoFornecimento" />
      <xs:element name="Uf" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fornecedor" nillable="true" type="tns:Fornecedor" />
  <xs:complexType name="Solicitacao">
    <xs:sequence>
      <xs:element name="CotacoesProdutosSolicitacoes" nillable="true" type="tns:ArrayOfCotacaoDoProduto" />
      <xs:element name="DataPrecisa" nillable="true" type="xs:string" />
      <xs:element name="DataPrevistaFim" nillable="true" type="xs:string" />
      <xs:element name="DataSolicitacao" nillable="true" type="xs:string" />
      <xs:element name="Detalhe" nillable="true" type="xs:string" />
      <xs:element name="IdSolicitacao" type="xs:int" />
      <xs:element name="ListStatus" nillable="true" type="tns:ArrayOfStatus" />
      <xs:element name="Produto" nillable="true" type="tns:Produto" />
      <xs:element name="Severidade" nillable="true" type="xs:string" />
      <xs:element name="Status" nillable="true" type="tns:Status" />
      <xs:element name="StatusSolicitacao" nillable="true" type="xs:string" />
      <xs:element name="Usuarios" nillable="true" type="tns:ArrayOfUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Solicitacao" nillable="true" type="tns:Solicitacao" />
  <xs:complexType name="ArrayOfCotacaoDoProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CotacaoDoProduto" nillable="true" type="tns:CotacaoDoProduto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCotacaoDoProduto" nillable="true" type="tns:ArrayOfCotacaoDoProduto" />
  <xs:complexType name="CotacaoDoProduto">
    <xs:sequence>
      <xs:element name="Cotacao" nillable="true" type="tns:Cotacao" />
      <xs:element name="Produto" nillable="true" type="tns:Produto" />
      <xs:element name="Solicitacao" nillable="true" type="tns:Solicitacao" />
      <xs:element name="ValorCotado" type="xs:double" />
      <xs:element name="Venceu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CotacaoDoProduto" nillable="true" type="tns:CotacaoDoProduto" />
  <xs:complexType name="Cotacao">
    <xs:sequence>
      <xs:element name="CotacaoProdutoSolicitacao" nillable="true" type="tns:ArrayOfCotacaoDoProduto" />
      <xs:element name="DataCotacao" nillable="true" type="xs:string" />
      <xs:element name="DataValidadeCotacao" nillable="true" type="xs:string" />
      <xs:element name="IdCotacao" type="xs:int" />
      <xs:element name="StatusCotacao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cotacao" nillable="true" type="tns:Cotacao" />
  <xs:complexType name="ArrayOfStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Status" nillable="true" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatus" nillable="true" type="tns:ArrayOfStatus" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element name="DataStatus" nillable="true" type="xs:string" />
      <xs:element name="DetalheStatus" nillable="true" type="xs:string" />
      <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="ArrayOfSolicitacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Solicitacao" nillable="true" type="tns:Solicitacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitacao" nillable="true" type="tns:ArrayOfSolicitacao" />
</xs:schema>