GUI/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64214/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64214/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64214/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_UsuarioCadastrar_InputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioCadastrar" />
  </wsdl:message>
  <wsdl:message name="IService1_UsuarioCadastrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioCadastrarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UsuarioListar_InputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioListar" />
  </wsdl:message>
  <wsdl:message name="IService1_UsuarioListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioListarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UsuarioAlterar_InputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioAlterar" />
  </wsdl:message>
  <wsdl:message name="IService1_UsuarioAlterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioAlterarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UsuarioDeletar_InputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioDeletar" />
  </wsdl:message>
  <wsdl:message name="IService1_UsuarioDeletar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioDeletarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PerfilListar_InputMessage">
    <wsdl:part name="parameters" element="tns:PerfilListar" />
  </wsdl:message>
  <wsdl:message name="IService1_PerfilListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerfilListarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PerfilCadastrarAlterar_InputMessage">
    <wsdl:part name="parameters" element="tns:PerfilCadastrarAlterar" />
  </wsdl:message>
  <wsdl:message name="IService1_PerfilCadastrarAlterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerfilCadastrarAlterarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PerfilDeletar_InputMessage">
    <wsdl:part name="parameters" element="tns:PerfilDeletar" />
  </wsdl:message>
  <wsdl:message name="IService1_PerfilDeletar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerfilDeletarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProdutoListar_InputMessage">
    <wsdl:part name="parameters" element="tns:ProdutoListar" />
  </wsdl:message>
  <wsdl:message name="IService1_ProdutoListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProdutoListarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProdutoCadastrarAlterar_InputMessage">
    <wsdl:part name="parameters" element="tns:ProdutoCadastrarAlterar" />
  </wsdl:message>
  <wsdl:message name="IService1_ProdutoCadastrarAlterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProdutoCadastrarAlterarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProdutoDeletar_InputMessage">
    <wsdl:part name="parameters" element="tns:ProdutoDeletar" />
  </wsdl:message>
  <wsdl:message name="IService1_ProdutoDeletar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProdutoDeletarResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="UsuarioCadastrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UsuarioCadastrar" message="tns:IService1_UsuarioCadastrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UsuarioCadastrarResponse" message="tns:IService1_UsuarioCadastrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsuarioListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UsuarioListar" message="tns:IService1_UsuarioListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UsuarioListarResponse" message="tns:IService1_UsuarioListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsuarioAlterar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UsuarioAlterar" message="tns:IService1_UsuarioAlterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UsuarioAlterarResponse" message="tns:IService1_UsuarioAlterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsuarioDeletar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UsuarioDeletar" message="tns:IService1_UsuarioDeletar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UsuarioDeletarResponse" message="tns:IService1_UsuarioDeletar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerfilListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PerfilListar" message="tns:IService1_PerfilListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PerfilListarResponse" message="tns:IService1_PerfilListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerfilCadastrarAlterar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PerfilCadastrarAlterar" message="tns:IService1_PerfilCadastrarAlterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PerfilCadastrarAlterarResponse" message="tns:IService1_PerfilCadastrarAlterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerfilDeletar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PerfilDeletar" message="tns:IService1_PerfilDeletar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PerfilDeletarResponse" message="tns:IService1_PerfilDeletar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProdutoListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProdutoListar" message="tns:IService1_ProdutoListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProdutoListarResponse" message="tns:IService1_ProdutoListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProdutoCadastrarAlterar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProdutoCadastrarAlterar" message="tns:IService1_ProdutoCadastrarAlterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProdutoCadastrarAlterarResponse" message="tns:IService1_ProdutoCadastrarAlterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProdutoDeletar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProdutoDeletar" message="tns:IService1_ProdutoDeletar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProdutoDeletarResponse" message="tns:IService1_ProdutoDeletar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UsuarioCadastrar">
      <soap:operation soapAction="http://tempuri.org/IService1/UsuarioCadastrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsuarioListar">
      <soap:operation soapAction="http://tempuri.org/IService1/UsuarioListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsuarioAlterar">
      <soap:operation soapAction="http://tempuri.org/IService1/UsuarioAlterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsuarioDeletar">
      <soap:operation soapAction="http://tempuri.org/IService1/UsuarioDeletar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerfilListar">
      <soap:operation soapAction="http://tempuri.org/IService1/PerfilListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerfilCadastrarAlterar">
      <soap:operation soapAction="http://tempuri.org/IService1/PerfilCadastrarAlterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerfilDeletar">
      <soap:operation soapAction="http://tempuri.org/IService1/PerfilDeletar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProdutoListar">
      <soap:operation soapAction="http://tempuri.org/IService1/ProdutoListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProdutoCadastrarAlterar">
      <soap:operation soapAction="http://tempuri.org/IService1/ProdutoCadastrarAlterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProdutoDeletar">
      <soap:operation soapAction="http://tempuri.org/IService1/ProdutoDeletar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64214/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>