GUI/Web References/localhost/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64214/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" />
  <xs:element name="UsuarioCadastrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="usuario" nillable="true" type="q1:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioCadastrarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioListar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="usuario" nillable="true" type="q2:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="UsuarioListarResult" nillable="true" type="q3:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioAlterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="usuario" nillable="true" type="q4:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioAlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioDeletar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="usuario" nillable="true" type="q5:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioDeletarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="usuario" nillable="true" type="q6:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerfilListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerfilListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="PerfilListarResult" nillable="true" type="q7:ArrayOfPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerfilCadastrarAlterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="perfil" nillable="true" type="q8:Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerfilCadastrarAlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerfilDeletar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="perfil" nillable="true" type="q9:Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerfilDeletarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdutoListar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="produto" nillable="true" type="q10:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdutoListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="ProdutoListarResult" nillable="true" type="q11:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdutoCadastrarAlterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="produto" nillable="true" type="q12:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdutoCadastrarAlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdutoDeletar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="produto" nillable="true" type="q13:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdutoDeletarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoFornecimentoListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoFornecimentoListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="TipoFornecimentoListarResult" nillable="true" type="q14:ArrayOfTipoFornecimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoFornecimentoCadastrarAlterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="tipoFornecimento" nillable="true" type="q15:TipoFornecimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoFornecimentoCadastrarAlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoFornecimentoDeletar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="tipoFornecimento" nillable="true" type="q16:TipoFornecimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoFornecimentoDeletarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitacaoCadastrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="solicitacao" nillable="true" type="q17:Solicitacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitacaoCadastrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="SolicitacaoCadastrarResult" nillable="true" type="q18:Solicitacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitacaoListar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="solicitacao" nillable="true" type="q19:Solicitacao" />
        <xs:element minOccurs="0" name="dataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataFinal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitacaoListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="SolicitacaoListarResult" nillable="true" type="q20:ArrayOfSolicitacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitacaoAlterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="solicitacao" nillable="true" type="q21:Solicitacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitacaoAlterarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="SolicitacaoAlterarResult" nillable="true" type="q22:Solicitacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitacaoGerarXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BibliotecaClasses.modelo" minOccurs="0" name="solicitacao" nillable="true" type="q23:Solicitacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitacaoGerarXmlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>